@font-face {
  font-family: "iconfont"; /* Project id 2683561 */
  src: url('//at.alicdn.com/t/font_2683561_w7twszbnf5p.woff2?t=1628669135656') format('woff2'),
       url('//at.alicdn.com/t/font_2683561_w7twszbnf5p.woff?t=1628669135656') format('woff'),
       url('//at.alicdn.com/t/font_2683561_w7twszbnf5p.ttf?t=1628669135656') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-previewleft:before {
  content: "\e75b";
}

.icon-previewright:before {
  content: "\e75c";
}

.icon-dianzan:before {
  content: "\e602";
}

.icon-jiage:before {
  content: "\e652";
}

.icon-renyuan:before {
  content: "\e7e6";
}

.icon-mail:before {
  content: "\e616";
}

.icon-16:before {
  content: "\e617";
}

.icon-ditu:before {
  content: "\e629";
}

.icon-shezhi:before {
  content: "\e611";
}

.icon-biaoge:before {
  content: "\e615";
}

.icon-caidan:before {
  content: "\e631";
}

.icon-guanyu:before {
  content: "\e677";
}

.icon-shouye:before {
  content: "\e607";
}
